.conditions-page {
  height: 100vh;
  max-height: 100vh;

  main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .header {
    padding: 0;
  }
  .header__logo {
    display: none;
  }


  .container {
    padding: 38px 26.8% 0 26.5%;

    @include tablet {
      padding: 38px 16.8% 0 16.5%;
    }

    @include mobile {
      padding: 38px 22px 0;

    }

    .container__header {
      flex-wrap: wrap;

      @include mobile {
        padding: 17px 0 7px;
      }
      .note {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #ACB5BD;
        width: 100%;
        padding-left: 12px;

        @include mobile {
          padding-left: 0px;
          margin-bottom: 7px;
        }
      }

      @include mobile {
        .container__link {
          top: 2px;
        }
      }
    }

    h1 {
      width: 85%;
      padding-left: 12px;
      margin-bottom: 5px;

      @include mobile {
        padding: 17px 0 7px;
        font-size: 26px;
      line-height: 30px;
      margin-top: 0;
      width: 100%;
      }
    }

    .container__link {
      margin-top: 19px;
    }

    &.white {
      flex-grow: 1;
      padding-top: 0px;
    }
  }

}

.conditions__block {
  height: 60vh;

  overflow-y: scroll;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #495057;
  padding-left: 9px;
  padding-right: 41px;
  letter-spacing: 0.17px;
  margin-bottom: 20px;

  @include mobile {
    padding-left: 0px;
    padding-right: 9px;
    margin-bottom: 34px;
    height: auto;
    overflow-y: auto;
    padding-bottom: 40px;
  }

    p {
      margin-bottom: 19px;

      @include mobile {
        margin-top: 0;
      }
    }


}

.conditions__block::-webkit-scrollbar,
.conditions__block::-webkit-scrollbar-thumb,
.conditions__block::-webkit-scrollbar-track {
    width: 3px;
    border: none;
    background: transparent;
}

.conditions__block::-webkit-scrollbar-button,
.conditions__block::-webkit-scrollbar-track-piece,
.conditions__block::-webkit-scrollbar-corner,
.conditions__block::-webkit-resizer {
    display: none;
}

.conditions__block::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #ACB5BD;
}

.conditions__block::-webkit-scrollbar-track {
    background-image: url("../img/line.png");
    background-repeat: repeat-y;
    background-position: right;
    background-size: contain;
}