.contracts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding-top: 26px;
  padding-bottom: 154px;

  @include tablet {
    justify-content: spa;
  }

  @include mobile {
    padding-top: 34px;
    padding-bottom: 16px;
    flex-direction: column;
  }

  .contracts__accordion-header {
    display: none;
  }

  h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #212429;
    margin-bottom: 12px;
    background: $color-white;
  }
}

.contracts__note {
  width: 304px;
  margin-left: 36px;
  margin-bottom: 51px;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  bottom: -31px;
  right: -342px;

  a {
    text-decoration: underline;
  }

  @include mobile {
    margin-left: 0;
    margin-right: 0;
    bottom: -159px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    text-align: center;
  }
}

.contract__item {
  background: $color-white;
  border: 0.5px solid #dde2e5;
  box-sizing: border-box;
  border-radius: 5px;
  width: 31.5%;
  padding: 5px 13px 41px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  min-height: 402px;
  max-width: 350px;
  position: relative;

  @include tablet {
    width: 47%;

    &::nth-of-type(odd) {
      margin-right: auto;
    }
  }

  @include mobile {
    width: 100%;
    margin-bottom: 13px;
    max-width: none;
    min-height: auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    &:first-of-type {
      margin-bottom: 163px;
    }

    h3 {
      margin-top: 31px;
    }
  }



  table {
    width: 100%;
    margin-top: 14px;
    margin-bottom: 27px;
    border-collapse: collapse
  }

  td {
    border-bottom: 1px solid #DDE2E5;
    height: 50px;
  }

  td:first-child {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ACB5BD;
  }

  td:last-child {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    color: #495057;
  }
}

.contract__signdate {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height, or 111% */

  text-align: center;

  color: #ACB5BD;

  margin: 18px 0px 0px;
}

.container__link--mob {
  display: none;
}