.passport-data {
  display: flex;
  padding-top: 35px;
  flex-wrap: wrap;

  @include mobile {
    padding-top: 28px;
    padding-left: 14px;
  }
}

.passport-data__part {
  display: flex;
  flex-wrap: wrap;
  width: 50%;

  @include laptop {
    width: 70%;
  }

  @include mobile {
    width: 100%;

  }

  &--photos {
    padding-left: 76px;
    @include laptop {
      width: 30%;
    }

    @include tablet {
      padding-left: 0;
    }

    @include mobile {
      width: 100%;
      margin-left: -20px;
      margin-top: 43px;
      margin-bottom: 124px;
      flex-direction: column;
    }
    img {
      height: 172px;
      width: 225px;
      object-fit: contain;

      padding-top: 11px;
      margin: 0 auto;


    }

    .passport-data__photo {
      margin-right: 20px;

      @include mobile {
        margin: 0 auto 37px;
      }

    }
  }


}

.passport-data__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 34px;

  @include laptop {
    margin-right: 6%;
  }

  &--name {
    padding-right: 74px;
    width: 350px;

    @include mobile {
      padding-right: 0;
    }
  }

  &--birthdate {
    padding-right: 38px;
    width: 153px;

    @include mobile {
      padding-right: 16px;
      width: 150px;
    }
  }

  &--gender   {
    width: 50px;
  }

  &--birthplace {
    padding-bottom: 48px;
    margin-right: 80px;
    width: 440px;
    @include mobile {
      padding-right: 0;
      margin-right: 25px;
      padding-bottom: 41px;
      width: 100%;
    }
  }

  &--code {
    width: 27%;

    @include laptop {
      width: 40%;
    }
    @include mobile {
      padding-right: 20px;
      width: 172px;
    }
  }

  &--passport {
    padding-right: 20px;
    width: 39.5%;

    @include mobile {
      padding-right: 63px;
      width: 172px;
    }
  }

  &--passport-date {
    padding-right: 20px;
    width: 32.7%;

    @include mobile {
      padding-right: 0;
      width: 109px;
    }
  }

  &--zip   {
    width: 61px;

    @include laptop {
      width: 40%;
    }

    @include mobile {
      width: 30%;
    }
  }

  &--address {
    width: 61%;
    margin-left: auto;
    margin-right: 5%;

    @include laptop {
      margin-left: 0;
      width: 80%;
    }

    @include mobile {
      width: 100%;
    }
  }




  span:first-child {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #ACB5BD;
    padding-bottom: 7px;
  }

  span:last-child {
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #495057;

  }
}

.data {
  @include mobile {
    h1 {
      margin-bottom: 8px;
    }
  }

}