.header {
  padding: 30px 162px 69px;
  background-color: $color-white;

  @include tablet {
    padding: 15px 65px 10px;
  }

  @include mobile {
    padding: 33px 65px 10px 21px;
  }

  img {
    @include mobile {
      width: 177px;
      height: 28px;
    }
  }
}