extends pug/layout.pug

block variables
  - let bodyClasses = 'conditions-page';

block content
  .container-top.white
    .container
      .container__header
          h1 Общие условия договора потребительского займа
          +link-text("< Назад", "#", "container__link" )
          p.note Опубликовано 7 марта 2019 года
  .container.white

    .conditions__block.scrollbar
      p <b>1. Используемые термины</b> <br><b>1.1.</b> В настоящем документе, указанные ниже термины, написанные с заглавной буквы, будут иметь следующие значения. Все остальные термины и определения, встречающиеся в тексте правил предоставления займов, <br>толкуются в соответствии с законодательством Российской Федерации и&nbsp;Договором Займа.
      p <b>«Акцепт»</b><br> Согласие Микрокредитной компании с условиями Заявки (Оферты Заемщика), выраженное в перечислении суммы Займа за выбранный Заемщиком товар (работы, услуги, билеты и т. д.) и в указанную Заемщиком Торговую <br>организацию.
      p <b>«График платежей»</b><br> Документ, содержащий информацию о суммах денежных средств, подлежащих уплате Заемщиком в определенные даты (график) с целью погашения задолженности по Договору Займа (информация о датах и размерах очередных&nbsp;платежей).
      p <b>«Договор Займа»</b><br> Договор, согласно которому Микрокредитная компания предоставляет Заемщику целевой Заем в счет исполнения обязательств Заемщика по оплате услуг по бронированию, оформлению и продаже авиабилетов, а Заемщик обязуется вернуть их Микрокредитной компании и уплатить проценты. Договор Займа состоит из Общих условий, утвержденных Микрокредитной компанией, а также Индивидуальных условий, согласуемых по каждой Заявке.