
p
  a(href="welcome.html") welcome.html
p
  a(href="passport-data.html") passport-data.html
p
  a(href="passport.html") passport.html
p
  a(href="photo.html") photo.html
p
  a(href="sign.html") sign.html
p

  a(href="conditions.html") conditions.html