$width-desktop: 1440px;
$width-laptop: 1200px;
$width-tablet: 768px;
$width-mobile: 360px;
$width-min: 320px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$font-family: "Roboto", "Arial", sans-serif;
$font-base: 16px;

$color-white: #ffffff;
$color-black: #000000;
$color-blue: #3399FF;
$color-grey: #ACB5BD;
$color-red: #F03D3E;
$color-darkblue:#4263EB;
$color-grey-light: #E5E5E5;
$color-grey-border: #DDE2E5;